<!DOCTYPE HTML>
<html dir="ltr" lang="zh-Hant" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>黑胡椒醬鐵板素排麵 - 全植食尚 Vegeholic</title>

	
    <meta name="description" content="一個分享健康飲食資訊、營養又不失美味的全植物性食譜網站。讓大家在輕鬆享有健康身體的同時，體會到一個對健康、環境都更友善的飲食方式！"/>

	<script src="../cdn-cgi/apps/head/knzUs4dqLCJMg2U2bv_DrJdwMIw.js"></script><link rel="shortcut icon" href="../img/favicon.png">
    <link rel="apple-touch-icon" href="../img/touch_icon_iphone.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch_icon_iphone6-plus.png">

	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta http-equiv="expires" content="0">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="全植食尚 Vegeholic">

	<meta property="fb:app_id" content="776485449190012">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=776485449190012";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- CSRF Token -->
	<meta name="csrf-token" content="fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b">
	
	<style type="text/css">
		@import  url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
	</style>

    <!-- Animate.css 動畫 -->
	<link rel="stylesheet" href="../lib/css/animate.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Icon Fonts -->
	<link rel="stylesheet" href="../lib/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="../lib/css/flaticon.css">		
	<!-- Flexslider 內容輪播滑動插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/flexslider.min.css">
	<!-- Magnific Popup 燈箱效果插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.min.css">	
	<!-- Alert -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS 判斷是否支援 HTML5 功能 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

	 
<meta property="og:url" content="https://vegeholic.asia/recipe/150">
<meta property="og:title" content="黑胡椒醬鐵板素排麵 - 全植食尚 Vegeholic">
<meta property="og:description" content="這道料理我要非常感謝朋友的無私分享，我一向他請教他就在百忙之中用訊息指導，不過只有食材和步驟，比例要完全憑自己的感覺，我準備了許多食材後自己笑了一下，完全不知道要放多少?還有個小插曲，我買錯黑胡椒罐結果打不開~ㄏㄏ，後來用工具硬是把它敲開，終於一陣手忙腳亂後，我成功了！ 真是(≧∇≦) 感動啊～也整到自己了，也太忙了～但享受美食的當下是值得的，老爺還給我大大的鼓掌呢! ── 來自一個分享健康飲食，全食物、植物性食譜的社群網站">
<meta property="og:image" content="/images/cloudfront/recipe/8/b02bb5e68bfcdcca3020213809809e71510e50f2.jpg">

<style type="text/css">
    #first-row .preview {
        margin-top: 0.5em;
    }    
    
    .badge {
        padding: 5px 10px;
        margin-top: 2px;
        font-size: 12px;
    }
    
    .preview .btn {
        border: none !important;
        background:#E86C6E;
        text-transform: uppercase;
        padding:5px 10px;
        border-radius:8px;
        margin-top: 2px;
    }

    .preview .btn a {
        color:#FFFFFF;	
    }

    .preview .btn:hover {
        background:#F1344B ;
    }
    .panel-heading h3 {
        color: #5a5a5a;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .widget-user .widget-user-header {
        border: 1px solid #ddd;
    }
    .widget-user .widget-user-header {
        padding: 20px;
        height: 120px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        color: #333333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .widget-user .widget-user-username {
        color: #5a5a5a;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .widget-user .widget-user-desc {
        margin-top: 0;
    }
    .widget-user .widget-user-image {
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -45px;
        z-index: 10;
    }
            
    .widget-user .widget-user-image img {
        width: 90px;
        height: auto;
        border: 4px solid #fff;
    }
    .widget-user .box-footer {
        padding-top: 30px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-top-width: 0;
    }
    .description-block {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .description-block.margin-bottom {
        margin-bottom: 25px;
    }
    .description-block > .description-header {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
    }
    .description-block > .description-text {
        text-transform: uppercase;
    }
    .box .border-right {
        border-right: 1px solid #ddd;
    }
    
    #recommendlist {
        font-size: 14px;
    }
    #recommendlist h4 {
        margin-top: 10px;
    }	
    .step-span {
        font-size: 20px;
    }
    .page-header {
        margin-top: 30px;
    }
    .img-responsive-small {
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media  screen and (max-width: 768px) {
        #recommendlist {
            font-size: 18px;
        }
        .img-responsive-small {

        }
    }
    .panel-footer {
        background-color: white;
    }
    .panel-footer p {
        margin-bottom: 0;
        text-align: right;
    }
    #manage-tool p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .source2 {
        cursor: pointer;
    }
    blockquote {
        word-wrap: break-word;
    }
	</style>

	<style type="text/css">
		@import  url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
	</style>
</head>

<body>
	<!-- Loading icon -->
	<div class="loader"></div>
	<!-- 最外層div：頁面佈局 -->
	<div id="page">
		
		<!-- 第一層 nav 導覽列 -->
		<nav class="nav col-xs-12" role="navigation">
			<div class="container">
				<div class="row">

										<div class="navright">
						<ul>
							<li><a href="150%3Flang=zh-tw.html">正體中文</a>｜</li>
							<li><a href="../auth/facebook.html">FB Login</a>｜</li>	
							<li><a href="../member/likes.html">Login</a></li>
						</ul>
					</div>
										
					<div class="col-xs-12 text-center">
						<div id="logo"><a href="../logout.html"><img src="../img/logo.svg" width="260" alt="全植食尚 Vegeholic"/> </a></div>
			    	</div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="AA"><a href="../logout.html" class="en-font">Home</a></li>
							<li class="BB"><a href="../about.html" class="en-font">About</a></li>
							<li class="CC"><a href="../recipe.html" class="en-font">Recipe</a></li>
							<li class="DD"><a href="../create.html" class="en-font">Post</a></li>
							<li class="EE"><a href="http://blog.vegeholic.asia/" class="en-font">Blog</a></li>
							<!--li class="FF"><a href="">逛市集</a></li-->
							<li class="GG"><a href="https://goo.gl/CWM1Ws" class="en-font">Video</a></li>
						</ul>
  					</div>
				</div>
			</div>
		</nav>
			
		<!-- 第二層 -->
<div style= "height: 300px; body bgcolor=#fff;"></div>

<!-- 頁面內容 -->
<div class="container">
    <div class="row" id="first-row">
        <div class="col-md-8">
            <div class="panel panel-default" id="recipe-panel">
                <div class="panel-heading">
                    <h3>黑胡椒醬鐵板素排麵</h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <!-- Recipe Main Image -->
                        <div class="col-md-7">																	
                            <img src="/images/cloudfront/recipe/8/b02bb5e68bfcdcca3020213809809e71510e50f2.jpg" class="img-responsive" style="margin-bottom: 20px;">
                            <div class="preview">
                                <i class="icon-eye"></i> 410
                                <i class="icon-heart2"></i> <span id="recipe_like_count">1</span>　
                                <!--i class="icon-chat"></i>12-->
                                <div class="btn pull-right"><a href="javascript:void(0);" class="like-btn" data-cancel=""><i class="icon-heart2"></i> 收藏</a></div>
                            </div>
                            <hr>
                            <p class="recipe-desc">
                                這道料理我要非常感謝朋友的無私分享，我一向他請教他就在百忙之中用訊息指導，不過只有食材和步驟，比例要完全憑自己的感覺，我準備了許多食材後自己笑了一下，完全不知道要放多少?還有個小插曲，我買錯黑胡椒罐結果打不開~ㄏㄏ，後來用工具硬是把它敲開，終於一陣手忙腳亂後，我成功了！ 真是(≧∇≦) 感動啊～也整到自己了，也太忙了～但享受美食的當下是值得的，老爺還給我大大的鼓掌呢!
                            </p>
                        </div>

                        <div class="col-md-5">
                            <!-- 食材 -->
                            <div class="row" id="ingredient">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">食材列表</div>
                                        <ul class="list-group">
                                                                                                                                    <li class="list-group-item">
                                                乾香菇頭
                                                <span class="badge pull-right">50g</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                鹽（或海鹽）
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                黑胡椒粒
                                                <span class="badge pull-right">15g</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                薑片
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                冰糖
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                乾香菇
                                                <span class="badge pull-right">6朵</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                香菇水
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                素蠔油
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                橄欖油
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                太白粉（或玉米粉）+水
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                紅蘿蔔
                                                <span class="badge pull-right">切片</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                毛豆
                                                <span class="badge pull-right">煮熟</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                玉米筍
                                                <span class="badge pull-right">4根</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                敏豆
                                                <span class="badge pull-right">煮熟</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                花椰菜
                                                <span class="badge pull-right">煮熟</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                彩椒
                                                <span class="badge pull-right">切絲</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                杏鮑菇
                                                <span class="badge pull-right">乾煎</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                自製素G排
                                                <span class="badge pull-right">一塊</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                義大利麵(兩人份)
                                                <span class="badge pull-right">200g</span>
                                            </li>
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>												   
                </div>
                
                
                <!-- 步驟 -->
                <ul class="list-group">
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/9/90e0ded48395a5e578eca658e8be93a3b07c770b.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>1</span></div>
                                <blockquote>湘湘備料</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/2/f18748b8d17f81cdc68878047a5eba9b30a0d675.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>2</span></div>
                                <blockquote>買錯黑胡椒的小插曲</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>3</span></div>
                                <blockquote>朋友說：喜歡辣一點黑胡椒多些,重口味一點鹽巴多些,香菇味重點香菇頭多些,想煮濃一點水少些 ,煮水一點水多些</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/2/aa5d09e58f01c512e05d00003fe39d9d7298bd85.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>4</span></div>
                                <blockquote>用Vitamix乾杯將乾香菇頭磨成細粉</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/1/669a6fc1bf489def41ec843550b62d7159916dd6.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>5</span></div>
                                <blockquote>備用</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/7/bc5add81b57ca9a41f03751dd16a5bb010d6df95.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>6</span></div>
                                <blockquote>放入黑胡椒粒乾炒將黑胡椒粒爆香(避免燒焦),然後加鹽(或海鹽)再炒一下, 香味出來放涼</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/2/9c38654765539f4c6f276910c172e9ed82c2d383.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>7</span></div>
                                <blockquote>剛炒的黑胡椒、鹽、薑片、冰糖、香菇粉然後少許油(因為有些是脂溶性要用油帶出維生素),先打一下後加香菇水、素蠔油~移至vitamix濕杯</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/7/3dba58409df158c35f46a932f59e2873e84eae73.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>8</span></div>
                                <blockquote>已泡軟的香菇水</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/5/9fae786e5302c6183fb23eed9825a7583ac11501.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>9</span></div>
                                <blockquote>將步驟七移至vitamix濕杯</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/1/e10d91e7671bad4ecb7010ec51029cfad736ecc2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>10</span></div>
                                <blockquote>打成醬汁</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/8/60851c48f567768edfd0074f82163baba9fbbf96.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>11</span></div>
                                <blockquote>調太白粉水</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/3/fb93177f2d8f8d44da893a514946bf1c4f32e2bf.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>12</span></div>
                                <blockquote>打好後醬汁倒進鍋子煮沸,煮沸後香味出來關小火,使用太白粉加食用冷水慢慢倒入鍋中慢慢攪拌,稍微有濃稠狀就要關火,放涼就可以冰冷凍(黑胡椒醬要香一點就是打醬的水換成香菇水更濃郁,油一定要有才能帶出脂溶性維生素不然就白費食材了)~朋友說這樣太濃下次可以再稀一些~(偷吃一下很香喔!)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/4/8de636ae75ba6ad5fb916054518b02cffae8bdad.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>13</span></div>
                                <blockquote>燒開一鍋沸水,先將紅蘿蔔、毛豆、玉米筍、敏豆煮兩三分鐘</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/3/e0f8e7fec8265b6c14c61f6a05a6d7d1e83b2023.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>14</span></div>
                                <blockquote>再放入花椰菜及彩椒約一分鐘即可</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/2/85386431eba90d00bde5a24c80bbe4a03a3c3d64.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>15</span></div>
                                <blockquote>將配菜瀝乾</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/4/14cecbb03e39a0b599ac7a1cd444dd26704e7f75.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>16</span></div>
                                <blockquote>倒入一點油將杏鮑菇雙面乾煎一下</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/8/3a14f98fa0b19b2aea94bac78c4e555c7fba9e5a.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>17</span></div>
                                <blockquote>素G排做法 
https://www.facebook.com/permalink.php?story_fbid=10209580209088033&amp;id=1412018535</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/1/b0cc44214275ad6ebd42fe8ff547bb4551dc5a79.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>18</span></div>
                                <blockquote>燒開一鍋水放入鹽將義大利麵煮熟</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/7/a2cc62d21916bf8c5f9eaab80632143c652b87c5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>19</span></div>
                                <blockquote>鐵板於瓦斯爐上燒燙,塗點油</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/6/42bb3a104365a7093ba660376bbbc7b6787b9112.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>20</span></div>
                                <blockquote>擺上喜愛的食材</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/4/71f53f7ea1b17543ebfbd2537940da74417a2a90.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>21</span></div>
                                <blockquote>最後淋上黑胡椒醬即可完成</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/7/0ec0fd004d5fb90ff2df485efe70f35368366fcf.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>22</span></div>
                                <blockquote>未淋醬之前</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/recipe/2/8adb729b675aff707f66692544c368a504fa3920.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>23</span></div>
                                <blockquote>隔天將黑胡椒醬加點水稀釋,中午配飯吃</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/cloudfront/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>24</span></div>
                                <blockquote>煮麵用可以濃稠些,因為可能煮麵可能加水或高湯;如果是拿來用沾的,沾素排之類的就不能太濃稠,因為會冰起來存放,要用之前會再加熱使用(二次加熱如太濃稠就還要再加水這樣比例會跑掉)</blockquote>
                            </div>
                        </div>
                    </li>
                                    </ul>
                
                <!-- 備註 -->
                <div class="row">
                    <div class="col-md-11 col-md-push-1">
                    	<p>　</p>
                        <blockquote>愛料理<br />
https://icook.tw/recipes/214082?ref=published<br />
FB連結<br />
https://www.facebook.com/permalink.php?story_fbid=10209595029978546&amp;id=1412018535<br />
</blockquote>	
                        <br/>
                    </div>
                </div>

                <div class="panel-footer">
                    <p>
                        發表於：2017-07-30 17:35:51
                                                    &middot; 最後更新於：2017-07-30 17:56:30
                                            </p>
                </div>
                
            </div>
            
            <!-- Post Comments -->
            <div class="panel panel-default" id="post-panel">

                <div class="panel-heading">
                    <h3>留言</h3>							
                </div>

                <div class="panel-body comment-create-panel-body" id="comments">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fb-comments" data-width="100%" data-href="https://vegeholic.asia/recipe/150" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-4">
            
            <!-- 作者資訊 -->
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">湘湘</h3>
                </div>
                <div class="widget-user-image">
                    <a href="https://www.facebook.com/10208341797808525" target="_blank">
                        <img class="img-circle" src="https://graph.facebook.com/v2.6/10208341797808525/picture?type=square&amp;height=200&amp;width=200" alt="User Avatar">
                    </a>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                
                                <h5 class="description-header">
                                    <a href="../user/498.html">114</a>
                                </h5>
                                
                                <span class="description-text">食譜</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="description-block">
                                <h5 class="description-header">
                                    <a href="../user/like/498.html" id="author_likes_count">2</a>
                                </h5>
                                <span class="description-text">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- FB Tool -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="fb-like" data-href="https://vegeholic.asia/recipe/150" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <!--div class="fb-save" data-uri="https://vegeholic.asia/recipe/150" data-size="large"></div-->
                </div>
            </div>

            <!-- 推薦食譜 -->
            <div id="recommendlist">				
                <div class="panel panel-default panel-author">

                    <div class="panel-heading">
                        <div class="row">										
                            <div class="col-sm-10"><h3>其他人也看了</h3>										
                            </div>
                        </div>
                    </div>

                    <!-- List group -->						

                    <ul class="list-group">									
                        
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="171.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(/images/cloudfront/recipe/9/fcfff52f6a82aec64149eedc198ff76a05b44bfe.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="171.html">
                                        <h4>暖呼呼鷹嘴豆紅咖哩</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 387
                                        <i class="icon-heart2"></i> 0
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="148.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(/images/cloudfront/recipe/2/7596b587d1f8fb784468b87a65aee7b67e4790fc.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="148.html">
                                        <h4>自製素G排</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 1495
                                        <i class="icon-heart2"></i> 3
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="106.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(/images/cloudfront/recipe/0/fd75b84c43ae3dbbe13e0d775162432c6ec46d8a.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="106.html">
                                        <h4>湘湘創意有趣懶人早餐</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 349
                                        <i class="icon-heart2"></i> 1
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="93.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(/images/cloudfront/recipe/5/de9cc8d7511371f0bb636f64574b1242e3874f1c.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="93.html">
                                        <h4>菠菜綜合拌炒</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 261
                                        <i class="icon-heart2"></i> 2
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="182.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(/images/cloudfront/recipe/9/c495c052b2ff4b365d8e25b1f35fb9dc9c666ebb.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="182.html">
                                        <h4>甜菜根素排</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 161
                                        <i class="icon-heart2"></i> 1
                                    </div>
                                </div>
                            </div>
                        </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
		
		<!-- footer 底部 -->
		<footer id="foot" role="contentinfo" class=" bg-footer">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-2  widget ">
						<p><a href="../logout.html"><img src="../img/logo_footer.png" alt="全植食尚 Vegeholic"/></a></p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>About Us</h4>
							<li><a href="../about.html">Company</a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/">Ads</a></li>
							<li><a href="https://blog.vegeholic.asia/privacy_policy/">Privacy</a></li>
							<li><a href="https://blog.vegeholic.asia/license/">Policy</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Purchase</h4>
							<li><a href="javascript:void(0);">Notice</a></li>
							<li><a href="javascript:void(0);">Service</a></li>
							<li><a href="javascript:void(0);">Order</a></li>
							<li><a href="javascript:void(0);">FAQ</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Member</h4>
							<li><a href="../member.html">Member</a></li>
							<li><a href="../member/recipe.html">Recipe</a></li>
							<li><a href="../member/likes.html">Favorite</a></li>
							<li><a href="../logout.html">Logout</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-md-push-1 ">
						<ul class="social-icons ">
							<li><a href="https://www.youtube.com/channel/UCxPPHNgwcbMGa0mkM9kqk-Q"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.instagram.com/vegeholic_asia/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/"><i class="icon-facebook"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<div class="like-wrap">
							<div class="fb-like" data-href="https://www.facebook.com/vegeholic.asia/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" data-width="200"></div>
						</div>
						<br>
						<p><small class="block">Copyright &copy; 2017 Vegeholic. All rights reserved.</small></p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<!-- go top 回到網頁上方 -->
	<div class="gototop js-top">
		<a href="150%3Flang=en.html#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script>
        window.Laravel = {"csrfToken":"fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b"}    </script>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- jQuery Easing 動畫效果擴充-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	<!-- Flexslider 內容輪播滑動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/jquery.flexslider.min.js"></script>
	<!-- Magnific Popup 燈箱效果插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
	<script src="../lib/js/magnific-popup-options.js"></script>
	<!-- Waypoints 視差滾動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<!-- Alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<!-- Main -->
	<script src="../js/main.js"></script>

	<script>
var RECIPE_ID = 150;
$(function() {
    
    //console.log('RECIPE_ID: %s', RECIPE_ID);
    
    $.ajax({
        url : '/api/like/' + RECIPE_ID,
        type: 'GET',
        success: function(resp) {
            console.log(resp);
            if( resp.like ) {
                // Allow cancel
                $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                $('.like-btn').data('cancel', true);
            } else {
                // Allow like
                $('.like-btn').data('cancel', false);
            }
        },
        error: function(resp) {
            if ( resp.status == 401 )
                console.info('Can not look up status, please login');
        },
    });

    $('.like-btn').click(function() {
        var cancel = $(this).data('cancel');
        if( cancel ) {
            console.log('cancel like');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'DELETE',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(!resp.like) {
                        $('.like-btn').html('<i class="icon-heart2"></i> 收藏');
                        $('.like-btn').data('cancel', false);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) - 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) - 1);
                    }
                }
            });
        } else {
            console.log('like it');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'POST',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(resp.like) {
                        $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                        $('.like-btn').data('cancel', true);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) + 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) + 1);
                    }
                },
                error: function(resp) {
                    if ( resp.status == 401 )
                        location.href = '/login';
                }
            });
        }
    });
});
</script>
<script src="../js/edit-delete.js"></script>

	</body>
</html>
