<!DOCTYPE HTML>
<html dir="ltr" lang="zh-Hant" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>青醬起司燉飯 - 全植食尚 Vegeholic</title>

	
    <meta name="description" content="一個分享健康飲食資訊、營養又不失美味的全植物性食譜網站。讓大家在輕鬆享有健康身體的同時，體會到一個對健康、環境都更友善的飲食方式！"/>

	<script src="../cdn-cgi/apps/head/knzUs4dqLCJMg2U2bv_DrJdwMIw.js"></script><link rel="shortcut icon" href="../img/favicon.png">
    <link rel="apple-touch-icon" href="../img/touch_icon_iphone.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch_icon_iphone6-plus.png">

	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta http-equiv="expires" content="0">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="全植食尚 Vegeholic">

	<meta property="fb:app_id" content="776485449190012">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=776485449190012";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- CSRF Token -->
	<meta name="csrf-token" content="fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b">
	
	<style type="text/css">
		@import  url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
	</style>

    <!-- Animate.css 動畫 -->
	<link rel="stylesheet" href="../lib/css/animate.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Icon Fonts -->
	<link rel="stylesheet" href="../lib/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="../lib/css/flaticon.css">		
	<!-- Flexslider 內容輪播滑動插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/flexslider.min.css">
	<!-- Magnific Popup 燈箱效果插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.min.css">	
	<!-- Alert -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS 判斷是否支援 HTML5 功能 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

	 
<meta property="og:url" content="https://vegeholic.asia/recipe/169">
<meta property="og:title" content="青醬起司燉飯 - 全植食尚 Vegeholic">
<meta property="og:description" content="下午去剪了一籃子媽媽自己種的九層塔味道超香的，想說來做個不一樣的青醬，把部分的食材先用食物調理機打成青醬做成天然的勾芡，飯也是預先煮好冰過的隔夜飯更是減肥的抗性澱粉，這碗吃起來很濃郁很有飽足感但其實熱量不高喔！只是這次買的青辣椒太辣了，老爺還趕緊拿黑麥汁給我喝~哈哈 ── 來自一個分享健康飲食，全食物、植物性食譜的社群網站">
<meta property="og:image" content="https://d163yelobtilcy.cloudfront.net/recipe/3/be7eb036b6126e62861c68109253d9d7bd19e9f9.jpg">

<style type="text/css">
    #first-row .preview {
        margin-top: 0.5em;
    }    
    
    .badge {
        padding: 5px 10px;
        margin-top: 2px;
        font-size: 12px;
    }
    
    .preview .btn {
        border: none !important;
        background:#E86C6E;
        text-transform: uppercase;
        padding:5px 10px;
        border-radius:8px;
        margin-top: 2px;
    }

    .preview .btn a {
        color:#FFFFFF;	
    }

    .preview .btn:hover {
        background:#F1344B ;
    }
    .panel-heading h3 {
        color: #5a5a5a;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .widget-user .widget-user-header {
        border: 1px solid #ddd;
    }
    .widget-user .widget-user-header {
        padding: 20px;
        height: 120px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        color: #333333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .widget-user .widget-user-username {
        color: #5a5a5a;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .widget-user .widget-user-desc {
        margin-top: 0;
    }
    .widget-user .widget-user-image {
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -45px;
        z-index: 10;
    }
            
    .widget-user .widget-user-image img {
        width: 90px;
        height: auto;
        border: 4px solid #fff;
    }
    .widget-user .box-footer {
        padding-top: 30px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-top-width: 0;
    }
    .description-block {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .description-block.margin-bottom {
        margin-bottom: 25px;
    }
    .description-block > .description-header {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
    }
    .description-block > .description-text {
        text-transform: uppercase;
    }
    .box .border-right {
        border-right: 1px solid #ddd;
    }
    
    #recommendlist {
        font-size: 14px;
    }
    #recommendlist h4 {
        margin-top: 10px;
    }	
    .step-span {
        font-size: 20px;
    }
    .page-header {
        margin-top: 30px;
    }
    .img-responsive-small {
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media  screen and (max-width: 768px) {
        #recommendlist {
            font-size: 18px;
        }
        .img-responsive-small {

        }
    }
    .panel-footer {
        background-color: white;
    }
    .panel-footer p {
        margin-bottom: 0;
        text-align: right;
    }
    #manage-tool p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .source2 {
        cursor: pointer;
    }
    blockquote {
        word-wrap: break-word;
    }
	</style>

	<style type="text/css">
		@import  url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
	</style>
</head>

<body>
	<!-- Loading icon -->
	<div class="loader"></div>
	<!-- 最外層div：頁面佈局 -->
	<div id="page">
		
		<!-- 第一層 nav 導覽列 -->
		<nav class="nav col-xs-12" role="navigation">
			<div class="container">
				<div class="row">

										<div class="navright">
						<ul>
							<li><a href="169%3Flang=zh-tw.html">正體中文</a>｜</li>
							<li><a href="../auth/facebook.html">FB Login</a>｜</li>	
							<li><a href="../member/likes.html">Login</a></li>
						</ul>
					</div>
										
					<div class="col-xs-12 text-center">
						<div id="logo"><a href="../logout.html"><img src="../img/logo.svg" width="260" alt="全植食尚 Vegeholic"/> </a></div>
			    	</div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="AA"><a href="../logout.html" class="en-font">Home</a></li>
							<li class="BB"><a href="../about.html" class="en-font">About</a></li>
							<li class="CC"><a href="../recipe.html" class="en-font">Recipe</a></li>
							<li class="DD"><a href="../create.html" class="en-font">Post</a></li>
							<li class="EE"><a href="http://blog.vegeholic.asia/" class="en-font">Blog</a></li>
							<!--li class="FF"><a href="">逛市集</a></li-->
							<li class="GG"><a href="https://goo.gl/CWM1Ws" class="en-font">Video</a></li>
						</ul>
  					</div>
				</div>
			</div>
		</nav>
			
		<!-- 第二層 -->
<div style= "height: 300px; body bgcolor=#fff;"></div>

<!-- 頁面內容 -->
<div class="container">
    <div class="row" id="first-row">
        <div class="col-md-8">
            <div class="panel panel-default" id="recipe-panel">
                <div class="panel-heading">
                    <h3>青醬起司燉飯</h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <!-- Recipe Main Image -->
                        <div class="col-md-7">																	
                            <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/be7eb036b6126e62861c68109253d9d7bd19e9f9.jpg" class="img-responsive" style="margin-bottom: 20px;">
                            <div class="preview">
                                <i class="icon-eye"></i> 384
                                <i class="icon-heart2"></i> <span id="recipe_like_count">1</span>　
                                <!--i class="icon-chat"></i>12-->
                                <div class="btn pull-right"><a href="javascript:void(0);" class="like-btn" data-cancel=""><i class="icon-heart2"></i> 收藏</a></div>
                            </div>
                            <hr>
                            <p class="recipe-desc">
                                下午去剪了一籃子媽媽自己種的九層塔味道超香的，想說來做個不一樣的青醬，把部分的食材先用食物調理機打成青醬做成天然的勾芡，飯也是預先煮好冰過的隔夜飯更是減肥的抗性澱粉，這碗吃起來很濃郁很有飽足感但其實熱量不高喔！只是這次買的青辣椒太辣了，老爺還趕緊拿黑麥汁給我喝~哈哈
                            </p>
                        </div>

                        <div class="col-md-5">
                            <!-- 食材 -->
                            <div class="row" id="ingredient">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">食材列表</div>
                                        <ul class="list-group">
                                                                                                                                    <li class="list-group-item">
                                                橄欖油
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                紅蘿蔔
                                                <span class="badge pull-right">切絲</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                鹽
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                水
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                香菇
                                                <span class="badge pull-right">切絲</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                毛豆
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                玉米
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                辣椒
                                                <span class="badge pull-right">一根</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                板豆腐
                                                <span class="badge pull-right">半盒</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                綠醬汁(作法在下面)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                乾檸檬葉
                                                <span class="badge pull-right">4片</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                孜然
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                迷迭香
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                秋葵
                                                <span class="badge pull-right">6根</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                金針菇
                                                <span class="badge pull-right">一把</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                抗性澱粉飯
                                                <span class="badge pull-right">2碗</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                純素光芒帕瑪森起司
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                九層塔
                                                <span class="badge pull-right">隨性</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                綠醬汁(食材如下)
                                                <span class="badge pull-right">如下</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                青辣椒
                                                <span class="badge pull-right">4根</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                金針菇
                                                <span class="badge pull-right">少許</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                板豆腐
                                                <span class="badge pull-right">少許</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                九層塔
                                                <span class="badge pull-right">少許</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                水
                                                <span class="badge pull-right">隨性</span>
                                            </li>
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>												   
                </div>
                
                
                <!-- 步驟 -->
                <ul class="list-group">
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/9/c405c4b18861019657f51c9b398f0fddb5fc9fe6.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>1</span></div>
                                <blockquote>新鮮的九層塔</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/9/fdea0e39078d45dbbb182a59b4db3548770ad8e1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>2</span></div>
                                <blockquote>現採的九層塔</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>3</span></div>
                                <blockquote>將食材依序放入 
🔺依序下的食材： 橄欖油、紅蘿蔔、鹽、水、香菇、毛豆、玉米、辣椒、板豆腐、綠醬汁、乾檸檬葉、孜然、迷迭香、秋葵、金針菇、抗性澱粉飯（糙米、燕麥粒、蕎麥）、純素起司、九層塔 
🔺綠醬汁：（取部份食材用食物調理機打碎做健康版勾芡） 青辣椒、金針菇、板豆腐、九層塔、水</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>4</span></div>
                                <blockquote>抗性澱粉飯（糙米、燕麥粒、蕎麥） 
🔺抗性澱粉 https://www.top1health.com/Article/101/40059 
🔺抗性澱粉三大好處 https://www.top1health.com/Article/320/38557?page=2</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/4/0389b6f217ffa5b80aa36ead12be0726b2b01e95.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>5</span></div>
                                <blockquote>#香菇放冷凍營養又助瘦 把菇菇放冷凍庫，不但助瘦還能提高營養！ 
適合的菇類有這3種：金針菇、鴻喜菇、舞菇 
https://goo.gl/S1gNyx</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/4/20b312edb6226638a1cfcc93e6b262b1b28321c5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>6</span></div>
                                <blockquote>🔺補充一下喔～ 其實香菇是不建議洗的，但是前陣子又爆發有農藥污染的問題，我想⋯若擔心的人稍微洗淨瀝乾再放保鮮盒冷凍也行，或者冷凍後不用退冰直接煮口感我試過也不會影響喔^_^</blockquote>
                            </div>
                        </div>
                    </li>
                                    </ul>
                
                <!-- 備註 -->
                <div class="row">
                    <div class="col-md-11 col-md-push-1">
                    	<p>　</p>
                        <blockquote>愛料理<br />
https://icook.tw/recipes/227602?ref=published<br />
FB連結<br />
https://www.facebook.com/permalink.php?story_fbid=10210241660263899&amp;id=1412018535<br />
</blockquote>	
                        <br/>
                    </div>
                </div>

                <div class="panel-footer">
                    <p>
                        發表於：2017-11-06 23:07:28
                                                    &middot; 最後更新於：2017-11-06 23:09:55
                                            </p>
                </div>
                
            </div>
            
            <!-- Post Comments -->
            <div class="panel panel-default" id="post-panel">

                <div class="panel-heading">
                    <h3>留言</h3>							
                </div>

                <div class="panel-body comment-create-panel-body" id="comments">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fb-comments" data-width="100%" data-href="https://vegeholic.asia/recipe/169" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-4">
            
            <!-- 作者資訊 -->
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">湘湘</h3>
                </div>
                <div class="widget-user-image">
                    <a href="https://www.facebook.com/10208341797808525" target="_blank">
                        <img class="img-circle" src="https://graph.facebook.com/v2.6/10208341797808525/picture?type=square&amp;height=200&amp;width=200" alt="User Avatar">
                    </a>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                
                                <h5 class="description-header">
                                    <a href="../user/498.html">114</a>
                                </h5>
                                
                                <span class="description-text">食譜</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="description-block">
                                <h5 class="description-header">
                                    <a href="../user/like/498.html" id="author_likes_count">2</a>
                                </h5>
                                <span class="description-text">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- FB Tool -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="fb-like" data-href="https://vegeholic.asia/recipe/169" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <!--div class="fb-save" data-uri="https://vegeholic.asia/recipe/169" data-size="large"></div-->
                </div>
            </div>

            <!-- 推薦食譜 -->
            <div id="recommendlist">				
                <div class="panel panel-default panel-author">

                    <div class="panel-heading">
                        <div class="row">										
                            <div class="col-sm-10"><h3>其他人也看了</h3>										
                            </div>
                        </div>
                    </div>

                    <!-- List group -->						

                    <ul class="list-group">									
                        
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="168.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/7/2271255f98cd64bcb1fd3803109b7b58073d6cf4.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="168.html">
                                        <h4>咖喱薑黃椰奶義大利麵</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 1459
                                        <i class="icon-heart2"></i> 1
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="145.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/1/aa30f45ddcd8c71dd5e3303f4fd488092df69ec3.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="145.html">
                                        <h4>美味鳳梨椰醬沙拉</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 845
                                        <i class="icon-heart2"></i> 2
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="109.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/6/2d7526374f9ff0d557cabd2b0bc69216e52d4f2d.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="109.html">
                                        <h4>山苦瓜蘋果鳳梨汁/吃粽子小叮嚀</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 258
                                        <i class="icon-heart2"></i> 0
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="40.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/7/e7ca765e4940dbc911f2cd4be77d264b4e370f88.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="40.html">
                                        <h4>無糖無油裸食布朗尼</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 1314
                                        <i class="icon-heart2"></i> 14
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="113.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/4/b2777b9e5f86daec6c81ed92c5d289c47d0d6dff.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="113.html">
                                        <h4>甜椒蘋果補氣飲</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 258
                                        <i class="icon-heart2"></i> 1
                                    </div>
                                </div>
                            </div>
                        </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
		
		<!-- footer 底部 -->
		<footer id="foot" role="contentinfo" class=" bg-footer">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-2  widget ">
						<p><a href="../logout.html"><img src="../img/logo_footer.png" alt="全植食尚 Vegeholic"/></a></p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>About Us</h4>
							<li><a href="../about.html">Company</a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/">Ads</a></li>
							<li><a href="https://blog.vegeholic.asia/privacy_policy/">Privacy</a></li>
							<li><a href="https://blog.vegeholic.asia/license/">Policy</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Purchase</h4>
							<li><a href="javascript:void(0);">Notice</a></li>
							<li><a href="javascript:void(0);">Service</a></li>
							<li><a href="javascript:void(0);">Order</a></li>
							<li><a href="javascript:void(0);">FAQ</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Member</h4>
							<li><a href="../member.html">Member</a></li>
							<li><a href="../member/recipe.html">Recipe</a></li>
							<li><a href="../member/likes.html">Favorite</a></li>
							<li><a href="../logout.html">Logout</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-md-push-1 ">
						<ul class="social-icons ">
							<li><a href="https://www.youtube.com/channel/UCxPPHNgwcbMGa0mkM9kqk-Q"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.instagram.com/vegeholic_asia/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/"><i class="icon-facebook"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<div class="like-wrap">
							<div class="fb-like" data-href="https://www.facebook.com/vegeholic.asia/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" data-width="200"></div>
						</div>
						<br>
						<p><small class="block">Copyright &copy; 2017 Vegeholic. All rights reserved.</small></p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<!-- go top 回到網頁上方 -->
	<div class="gototop js-top">
		<a href="169.html#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script>
        window.Laravel = {"csrfToken":"fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b"}    </script>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- jQuery Easing 動畫效果擴充-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	<!-- Flexslider 內容輪播滑動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/jquery.flexslider.min.js"></script>
	<!-- Magnific Popup 燈箱效果插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
	<script src="../lib/js/magnific-popup-options.js"></script>
	<!-- Waypoints 視差滾動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<!-- Alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<!-- Main -->
	<script src="../js/main.js"></script>

	<script>
var RECIPE_ID = 169;
$(function() {
    
    //console.log('RECIPE_ID: %s', RECIPE_ID);
    
    $.ajax({
        url : '/api/like/' + RECIPE_ID,
        type: 'GET',
        success: function(resp) {
            console.log(resp);
            if( resp.like ) {
                // Allow cancel
                $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                $('.like-btn').data('cancel', true);
            } else {
                // Allow like
                $('.like-btn').data('cancel', false);
            }
        },
        error: function(resp) {
            if ( resp.status == 401 )
                console.info('Can not look up status, please login');
        },
    });

    $('.like-btn').click(function() {
        var cancel = $(this).data('cancel');
        if( cancel ) {
            console.log('cancel like');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'DELETE',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(!resp.like) {
                        $('.like-btn').html('<i class="icon-heart2"></i> 收藏');
                        $('.like-btn').data('cancel', false);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) - 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) - 1);
                    }
                }
            });
        } else {
            console.log('like it');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'POST',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(resp.like) {
                        $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                        $('.like-btn').data('cancel', true);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) + 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) + 1);
                    }
                },
                error: function(resp) {
                    if ( resp.status == 401 )
                        location.href = '/login';
                }
            });
        }
    });
});
</script>
<script src="../js/edit-delete.js"></script>

	</body>
</html>
