<!DOCTYPE HTML>
<html dir="ltr" lang="zh-Hant" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>升級版素堡排 - 全植食尚 Vegeholic</title>

	
    <meta name="description" content="一個分享健康飲食資訊、營養又不失美味的全植物性食譜網站。讓大家在輕鬆享有健康身體的同時，體會到一個對健康、環境都更友善的飲食方式！"/>

	<script src="../cdn-cgi/apps/head/knzUs4dqLCJMg2U2bv_DrJdwMIw.js"></script><link rel="shortcut icon" href="../img/favicon.png">
    <link rel="apple-touch-icon" href="../img/touch_icon_iphone.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch_icon_iphone6-plus.png">

	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta http-equiv="expires" content="0">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="全植食尚 Vegeholic">

	<meta property="fb:app_id" content="776485449190012">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=776485449190012";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- CSRF Token -->
	<meta name="csrf-token" content="fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b">
	
	<style type="text/css">
		@import  url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
	</style>

    <!-- Animate.css 動畫 -->
	<link rel="stylesheet" href="../lib/css/animate.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Icon Fonts -->
	<link rel="stylesheet" href="../lib/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="../lib/css/flaticon.css">		
	<!-- Flexslider 內容輪播滑動插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/flexslider.min.css">
	<!-- Magnific Popup 燈箱效果插件 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.min.css">	
	<!-- Alert -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS 判斷是否支援 HTML5 功能 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

	 
<meta property="og:url" content="https://vegeholic.asia/recipe/154">
<meta property="og:title" content="升級版素堡排 - 全植食尚 Vegeholic">
<meta property="og:description" content="今天忙了一整天做的是有厚度的素堡排，有別於上次做的素G排，很有口感嚼勁食材也很健康喔!老爺說這是他吃過最好吃的素堡了!哈哈~開心中 ── 來自一個分享健康飲食，全食物、植物性食譜的社群網站">
<meta property="og:image" content="https://d163yelobtilcy.cloudfront.net/recipe/6/f79147611ab67e0110d6553d53c9369839e89973.jpg">

<style type="text/css">
    #first-row .preview {
        margin-top: 0.5em;
    }    
    
    .badge {
        padding: 5px 10px;
        margin-top: 2px;
        font-size: 12px;
    }
    
    .preview .btn {
        border: none !important;
        background:#E86C6E;
        text-transform: uppercase;
        padding:5px 10px;
        border-radius:8px;
        margin-top: 2px;
    }

    .preview .btn a {
        color:#FFFFFF;	
    }

    .preview .btn:hover {
        background:#F1344B ;
    }
    .panel-heading h3 {
        color: #5a5a5a;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .widget-user .widget-user-header {
        border: 1px solid #ddd;
    }
    .widget-user .widget-user-header {
        padding: 20px;
        height: 120px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        color: #333333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .widget-user .widget-user-username {
        color: #5a5a5a;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .widget-user .widget-user-desc {
        margin-top: 0;
    }
    .widget-user .widget-user-image {
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -45px;
        z-index: 10;
    }
            
    .widget-user .widget-user-image img {
        width: 90px;
        height: auto;
        border: 4px solid #fff;
    }
    .widget-user .box-footer {
        padding-top: 30px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-top-width: 0;
    }
    .description-block {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .description-block.margin-bottom {
        margin-bottom: 25px;
    }
    .description-block > .description-header {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
    }
    .description-block > .description-text {
        text-transform: uppercase;
    }
    .box .border-right {
        border-right: 1px solid #ddd;
    }
    
    #recommendlist {
        font-size: 14px;
    }
    #recommendlist h4 {
        margin-top: 10px;
    }	
    .step-span {
        font-size: 20px;
    }
    .page-header {
        margin-top: 30px;
    }
    .img-responsive-small {
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media  screen and (max-width: 768px) {
        #recommendlist {
            font-size: 18px;
        }
        .img-responsive-small {

        }
    }
    .panel-footer {
        background-color: white;
    }
    .panel-footer p {
        margin-bottom: 0;
        text-align: right;
    }
    #manage-tool p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .source2 {
        cursor: pointer;
    }
    blockquote {
        word-wrap: break-word;
    }
	</style>

	<style type="text/css">
		@import  url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
	</style>
</head>

<body>
	<!-- Loading icon -->
	<div class="loader"></div>
	<!-- 最外層div：頁面佈局 -->
	<div id="page">
		
		<!-- 第一層 nav 導覽列 -->
		<nav class="nav col-xs-12" role="navigation">
			<div class="container">
				<div class="row">

										<div class="navright">
						<ul>
							<li><a href="154%3Flang=zh-tw.html">正體中文</a>｜</li>
							<li><a href="../auth/facebook.html">FB Login</a>｜</li>	
							<li><a href="../member/likes.html">Login</a></li>
						</ul>
					</div>
										
					<div class="col-xs-12 text-center">
						<div id="logo"><a href="../logout.html"><img src="../img/logo.svg" width="260" alt="全植食尚 Vegeholic"/> </a></div>
			    	</div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="AA"><a href="../logout.html" class="en-font">Home</a></li>
							<li class="BB"><a href="../about.html" class="en-font">About</a></li>
							<li class="CC"><a href="../recipe.html" class="en-font">Recipe</a></li>
							<li class="DD"><a href="../create.html" class="en-font">Post</a></li>
							<li class="EE"><a href="http://blog.vegeholic.asia/" class="en-font">Blog</a></li>
							<!--li class="FF"><a href="">逛市集</a></li-->
							<li class="GG"><a href="https://goo.gl/CWM1Ws" class="en-font">Video</a></li>
						</ul>
  					</div>
				</div>
			</div>
		</nav>
			
		<!-- 第二層 -->
<div style= "height: 300px; body bgcolor=#fff;"></div>

<!-- 頁面內容 -->
<div class="container">
    <div class="row" id="first-row">
        <div class="col-md-8">
            <div class="panel panel-default" id="recipe-panel">
                <div class="panel-heading">
                    <h3>升級版素堡排</h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <!-- Recipe Main Image -->
                        <div class="col-md-7">																	
                            <img src="https://d163yelobtilcy.cloudfront.net/recipe/6/f79147611ab67e0110d6553d53c9369839e89973.jpg" class="img-responsive" style="margin-bottom: 20px;">
                            <div class="preview">
                                <i class="icon-eye"></i> 1367
                                <i class="icon-heart2"></i> <span id="recipe_like_count">2</span>　
                                <!--i class="icon-chat"></i>12-->
                                <div class="btn pull-right"><a href="javascript:void(0);" class="like-btn" data-cancel=""><i class="icon-heart2"></i> 收藏</a></div>
                            </div>
                            <hr>
                            <p class="recipe-desc">
                                今天忙了一整天做的是有厚度的素堡排，有別於上次做的素G排，很有口感嚼勁食材也很健康喔!老爺說這是他吃過最好吃的素堡了!哈哈~開心中
                            </p>
                        </div>

                        <div class="col-md-5">
                            <!-- 食材 -->
                            <div class="row" id="ingredient">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">食材列表</div>
                                        <ul class="list-group">
                                                                                                                                    <li class="list-group-item">
                                                新鮮香菇頭
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                香菇素蠔油
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                水
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                橄欖油(可用香油)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                紅蘿蔔(切丁)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                毛豆(可以壓泥)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                熟黃豆(可以壓泥)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                熟鷹嘴豆(可以壓泥)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                熟薏仁(可以壓泥)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                玉米粒
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                自製素香菇味精
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                孜然
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                薑黃粉
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                手磨黑胡椒粒
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                燕麥片(部分打成粉)
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                熱水
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                        <li class="list-group-item">
                                                中筋麵粉
                                                <span class="badge pull-right">適量</span>
                                            </li>
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>												   
                </div>
                
                
                <!-- 步驟 -->
                <ul class="list-group">
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/0/4332bb0ef5c132fbaef4813cfc15205ce0019d41.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>1</span></div>
                                <blockquote>新鮮香菇頭(量多可以冷凍保存)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/5/660deb1710acd70601a654febf66e245524343b8.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>2</span></div>
                                <blockquote>將新鮮香菇頭用刀背敲一敲後再用叉子劃開</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/8/d75c7d91457bd6bc6ca7343ea0f5ccb4b55e7814.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>3</span></div>
                                <blockquote>再用手撕成絲狀</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/9/cc9ec3098fcebcd710574ded76858378ba2adf11.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>4</span></div>
                                <blockquote>把香菇素蠔油加水把香菇頭醃製一下讓水份吸進去~約一個小時 (先用素蠔油跟香料先醃過這樣才不會破壞最後顏色，蔬菜也比較不會出水，如果素蠔油跟蔬菜及香菇頭一起醃，蔬菜會出水很嚴重)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/9/30856e4e74db2f656a3f58544b86c878e6781c39.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>5</span></div>
                                <blockquote>擠壓並瀝乾</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/53a34a9ce34e4f4f293ddf54f4aae2aa1c8dd455.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>6</span></div>
                                <blockquote>蔬菜都可以加且要切成丁狀較好(如果打成泥水份會太多怕無法定型)，口感比較重要!若單純使用香菇頭口感會太扎實，不過加葉菜比較難操作，因為要切成丁狀比較難處理，像茄子、青椒、番茄、芹菜、高麗菜、玉米這些食材比較好操作!豆類也可以只是不好切丁，大多都是打成泥狀，黃豆也可以用打完豆漿後豆渣留下來做素肉</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/2/273a9ea24f179c1a2ac50ea354d46bce14babace.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>7</span></div>
                                <blockquote>燕麥片加熱水(加些燕麥粉或是蒸過的燕麥，讓整個食材保水也增加黏度，這樣麵粉就可以少用點比較健康)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/2/8e9eeb429a96c49384a49a572dcb25c809716a31.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>8</span></div>
                                <blockquote>部分燕麥片打成粉和中筋麵粉備用</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>9</span></div>
                                <blockquote>將香菇頭和蔬菜及香料(自製香菇味精、孜然、薑黃粉、手磨黑胡椒粒或喜歡的香料)，最後用蔬菜的水份加上蒸好燕麥或是燕麥粉再加點麵粉下去做攪拌加到可以成型為止，如果太乾就加點水，做好後馬上定型下去烤或煎或是弄成薄片冷凍，用太厚拿出來煎會不熟，烤過比較保險</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>10</span></div>
                                <blockquote>如果要做成素排就要想辦法定型，但切記粉類的東西一定要最後放混成稠狀，其他不管你怎麼放都沒差，切一切打一打全丟進去混一混之後調味</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>11</span></div>
                                <blockquote>為什麼要烤過(用炸的再下去冰會變硬且水份會變少，會有油耗味)，如果先用烤的再拿去冷凍，再拿出來煎就沒有油耗味，烤過後下去煎很快就熟也不用退冰，如果做成塊狀冰，若拿出來退冰再煎則可能外面熟了裡面還沒，或裡面好了而外面燒焦了</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/9/dbbebaad6a1cc205bbf71414ce477fb0f1b4ae57.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>12</span></div>
                                <blockquote>將白鐵圓型模具塗油且食材剛好鋪平就好，定型完就脫模，進烤箱就不用沾粉了，如果要直接煎就需沾點粉比較好，烤好冷凍!</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/c7f4b1bb9142af1e60b0fc24ac5dc4652e082be4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>13</span></div>
                                <blockquote>烤箱內放一碗水並先預熱一下，大概180度烤十分鐘</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/c70b176a57626eb2a004cdc9d972ca1cc649f4e5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>14</span></div>
                                <blockquote>烤到表皮變色就好，即可放涼再冷凍保存</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/1/2db9875dbe8044650b3bf0329a85151e5d05e660.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>15</span></div>
                                <blockquote>這是我留兩片烤熟試吃的</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/0/b68ed32ce871ec17e22850a81b40dda24470966a.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>16</span></div>
                                <blockquote>非常感謝老闆提供我很棒的食材及素排的新做法~ 
老闆說:份量還是自己抓吧!哈哈~我只能告訴你做法了，份量比例要看心情!</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/67a51e7a88dd86a969127be2f6623b904a7bf27e.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>17</span></div>
                                <blockquote>夢幻廚房在我家-素食美乃滋 https://youtu.be/SVkPHxokIfs 
(橄欖油、馬克發芽濃豆漿、細砂糖、鹽、無毒萊姆)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/0/5ed907a4336f0ff32dfeccc9d9ed913953c3c5fa.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>18</span></div>
                                <blockquote>要煎的時候不用沾粉，因為素排表面已經烤熟不太會沾鍋了，用油煎一下~夾麵包變漢堡，加麵變鐵板麵，切成塊狀還可以下去滷(要煎的時候一定要熱鍋，冷油下去煎，這樣中間才會熟也才不會沾鍋)</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/3/a054d0d5cf0a762b09124d08ccab2e1a663b9cff.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>19</span></div>
                                <blockquote>我買馬可現成的麵包，塗上自製美乃滋，完成素堡排成品</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/recipe/1/bb28a2ffc6fb4a4ad11f5e13ef3290a396742918.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>20</span></div>
                                <blockquote>搭配一杯戀愛紫莓飲~屬於兩人的戀愛晚餐</blockquote>
                            </div>
                        </div>
                    </li>
                                        <li class="list-group-item recipe-step" v-for="step in steps">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://d163yelobtilcy.cloudfront.net/static/default-step.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="page-header step-span">步驟<span>21</span></div>
                                <blockquote>#vegan #不到半年完成百道食譜瞜 #屁股坐到要開花了 #料理好吃的秘訣在邊做邊開心邊聽古典音樂加老爺不挑食 #vitamix #香菇頭是素食的魔法食材 #周入的安心農產 #感謝周入老闆的指導及提供很棒的無毒食材</blockquote>
                            </div>
                        </div>
                    </li>
                                    </ul>
                
                <!-- 備註 -->
                <div class="row">
                    <div class="col-md-11 col-md-push-1">
                    	<p>　</p>
                        <blockquote>愛料理<br />
https://icook.tw/recipes/216219?ref=published<br />
FB連結<br />
https://www.facebook.com/permalink.php?story_fbid=10209696603837829&amp;id=1412018535<br />
</blockquote>	
                        <br/>
                    </div>
                </div>

                <div class="panel-footer">
                    <p>
                        發表於：2017-08-12 21:45:30
                                                    &middot; 最後更新於：2017-08-12 21:56:27
                                            </p>
                </div>
                
            </div>
            
            <!-- Post Comments -->
            <div class="panel panel-default" id="post-panel">

                <div class="panel-heading">
                    <h3>留言</h3>							
                </div>

                <div class="panel-body comment-create-panel-body" id="comments">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fb-comments" data-width="100%" data-href="https://vegeholic.asia/recipe/154" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-4">
            
            <!-- 作者資訊 -->
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">湘湘</h3>
                </div>
                <div class="widget-user-image">
                    <a href="https://www.facebook.com/10208341797808525" target="_blank">
                        <img class="img-circle" src="https://graph.facebook.com/v2.6/10208341797808525/picture?type=square&amp;height=200&amp;width=200" alt="User Avatar">
                    </a>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                
                                <h5 class="description-header">
                                    <a href="../user/498.html">114</a>
                                </h5>
                                
                                <span class="description-text">食譜</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="description-block">
                                <h5 class="description-header">
                                    <a href="../user/like/498.html" id="author_likes_count">2</a>
                                </h5>
                                <span class="description-text">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- FB Tool -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="fb-like" data-href="https://vegeholic.asia/recipe/154" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <!--div class="fb-save" data-uri="https://vegeholic.asia/recipe/154" data-size="large"></div-->
                </div>
            </div>

            <!-- 推薦食譜 -->
            <div id="recommendlist">				
                <div class="panel panel-default panel-author">

                    <div class="panel-heading">
                        <div class="row">										
                            <div class="col-sm-10"><h3>其他人也看了</h3>										
                            </div>
                        </div>
                    </div>

                    <!-- List group -->						

                    <ul class="list-group">									
                        
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="86.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/8/f04b0733085d14b6ecd0b32b70f414d6780c25bb.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="86.html">
                                        <h4>可可番薯杯糕霜</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 560
                                        <i class="icon-heart2"></i> 3
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="36.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/6/6deb6e908932d0c79327d73a66c2e63e82fb7c89.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="36.html">
                                        <h4>高麗菜猴頭菇飯</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 572
                                        <i class="icon-heart2"></i> 7
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="162.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/4/aa478ceaaca97f51e63f10d63ae927dddc5db3c7.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="162.html">
                                        <h4>豆泥版素排</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 548
                                        <i class="icon-heart2"></i> 2
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="16.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/9/d90b9be34c03eebafdd32239cf830be634e3611d.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="16.html">
                                        <h4>軟心甜薯奇亞籽月餅 </h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 496
                                        <i class="icon-heart2"></i> 8
                                    </div>
                                </div>
                            </div>
                        </li>
                                                                        <li class="list-group-item">										
                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <a href="140.html">
                                        <div class="img-responsive img-responsive-small" style="background-image: url(https://d163yelobtilcy.cloudfront.net/recipe/2/cb14b31982877d6259312ac961e9e84d740955a2.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <a href="140.html">
                                        <h4>素ㄇㄢˋ便當</h4>
                                    </a>
                                    <div class="preview">
                                        <i class="icon-eye"></i> 309
                                        <i class="icon-heart2"></i> 2
                                    </div>
                                </div>
                            </div>
                        </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
		
		<!-- footer 底部 -->
		<footer id="foot" role="contentinfo" class=" bg-footer">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-2  widget ">
						<p><a href="../logout.html"><img src="../img/logo_footer.png" alt="全植食尚 Vegeholic"/></a></p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>About Us</h4>
							<li><a href="../about.html">Company</a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/">Ads</a></li>
							<li><a href="https://blog.vegeholic.asia/privacy_policy/">Privacy</a></li>
							<li><a href="https://blog.vegeholic.asia/license/">Policy</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Purchase</h4>
							<li><a href="javascript:void(0);">Notice</a></li>
							<li><a href="javascript:void(0);">Service</a></li>
							<li><a href="javascript:void(0);">Order</a></li>
							<li><a href="javascript:void(0);">FAQ</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
						<ul class=" footer-links">
							<h4>Member</h4>
							<li><a href="../member.html">Member</a></li>
							<li><a href="../member/recipe.html">Recipe</a></li>
							<li><a href="../member/likes.html">Favorite</a></li>
							<li><a href="../logout.html">Logout</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-md-push-1 ">
						<ul class="social-icons ">
							<li><a href="https://www.youtube.com/channel/UCxPPHNgwcbMGa0mkM9kqk-Q"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.instagram.com/vegeholic_asia/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/vegeholic.asia/"><i class="icon-facebook"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<div class="like-wrap">
							<div class="fb-like" data-href="https://www.facebook.com/vegeholic.asia/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" data-width="200"></div>
						</div>
						<br>
						<p><small class="block">Copyright &copy; 2017 Vegeholic. All rights reserved.</small></p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<!-- go top 回到網頁上方 -->
	<div class="gototop js-top">
		<a href="154%3Flang=en.html#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script>
        window.Laravel = {"csrfToken":"fHLBz3bnByygUlbvWP4M34MmRBkkWRKADY7yka7b"}    </script>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- jQuery Easing 動畫效果擴充-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	<!-- Flexslider 內容輪播滑動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/jquery.flexslider.min.js"></script>
	<!-- Magnific Popup 燈箱效果插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
	<script src="../lib/js/magnific-popup-options.js"></script>
	<!-- Waypoints 視差滾動插件-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<!-- Alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<!-- Main -->
	<script src="../js/main.js"></script>

	<script>
var RECIPE_ID = 154;
$(function() {
    
    //console.log('RECIPE_ID: %s', RECIPE_ID);
    
    $.ajax({
        url : '/api/like/' + RECIPE_ID,
        type: 'GET',
        success: function(resp) {
            console.log(resp);
            if( resp.like ) {
                // Allow cancel
                $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                $('.like-btn').data('cancel', true);
            } else {
                // Allow like
                $('.like-btn').data('cancel', false);
            }
        },
        error: function(resp) {
            if ( resp.status == 401 )
                console.info('Can not look up status, please login');
        },
    });

    $('.like-btn').click(function() {
        var cancel = $(this).data('cancel');
        if( cancel ) {
            console.log('cancel like');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'DELETE',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(!resp.like) {
                        $('.like-btn').html('<i class="icon-heart2"></i> 收藏');
                        $('.like-btn').data('cancel', false);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) - 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) - 1);
                    }
                }
            });
        } else {
            console.log('like it');
            $.ajax({
                url : '/api/like/' + RECIPE_ID,
                type: 'POST',
                data: {
                    _token: window.Laravel.csrfToken
                },
                success: function(resp) {
                    console.log(resp);
                    if(resp.like) {
                        $('.like-btn').html('<i class="icon-heart"></i> 取消收藏');
                        $('.like-btn').data('cancel', true);

                        $('#recipe_like_count').text(parseInt($('#recipe_like_count').text()) + 1);
                        $('#author_likes_count').text(parseInt($('#author_likes_count').text()) + 1);
                    }
                },
                error: function(resp) {
                    if ( resp.status == 401 )
                        location.href = '/login';
                }
            });
        }
    });
});
</script>
<script src="../js/edit-delete.js"></script>

	</body>
</html>
